html,
body {
  margin: 0;
}

:root {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
}

.map {
  width: 100%;
  height: 100vh;
  transition: transform 50ms linear;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

p {
  margin-bottom: 0;
}

.map-info {
  position: absolute;
  right: 0;
  top: 100%;
  /* overflow-y: hidden; */

  width: 100%;
  max-width: 500px;
  outline: 1px solid red;
  /* pointer-events: none; */
  -webkit-overflow-scrolling: touch;
}

.map-info > div {
  transition: transform 300ms ease-out;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  background: white;
  pointer-events: initial;
}
